body{
    background-color: black;
}
.chess_pic{
    width: 100%;
}
img{
    width: 100%;
    vertical-align: middle!important;
}
.logo{
    width: 50%;
    padding: 5px;
    filter: contrast(0.2);
    filter: brightness(3);
}
.bg-dark{
    background-color: rgba(1,1,1,0.5)!important;
}
.navbar-dark{
    padding: 15px;
}
.navbar-brand{
    margin-right: 25%;
}
#home, #players, #pieces, #about{
    color: white;
    font-weight: 500;
    margin-right: 20px;
}
@media screen and (min-width: 990px){

#home:hover{
    background-color: rgb(63, 10, 63);
    transition: 300ms ease-in-out;
    border-radius: 10% ;
    color: white;
}
#players:hover{
    background-color: rgb(63, 10, 63);
    transition: 300ms ease-in-out;
    border-radius: 10% ;
}
#pieces:hover{
    background-color: rgb(63, 10, 63);
    transition: 300ms ease-in-out;
    border-radius: 10% ;
}
#about:hover{
    background-color: rgb(63, 10, 63);
    transition: 300ms ease-in-out;
    border-radius: 10% ;
}   
}
@media screen and (max-width: 990px) {
    #home:hover{
        transition: 300ms ease-in-out;
        color: rgb(160, 41, 160);
        border-radius: 10% ;
    }
    #players:hover{
        transition: 300ms ease-in-out;
        border-radius: 10% ;
        color: rgb(160, 41, 160);
    }
    #pieces:hover{
        transition: 300ms ease-in-out;
        border-radius: 10% ;
        color: rgb(160, 41, 160);
    }
    #about:hover{
        transition: 300ms ease-in-out;
        border-radius: 10% ;
        color: rgb(160, 41, 160);
    }
}
.content{
    margin: 20px;
    background: blanchedalmond;
    padding: 20px;
}
.pic-kp, .pic-qp, .pic-bp, .pic-np, .pic-pp, .pic-rp{
    border-radius: 5%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}
.pic-bp:hover, .pic-kp:hover ,.pic-qp:hover,.pic-pp:hover,.pic-rp:hover,.pic-np:hover {
    transform: scale(1.05);
  box-shadow: 50px  rgba(147, 127, 240, 0.13);
  transition: 0.5s ease;
}
#king{
    background-color:blanchedalmond;
}
#info>ul>li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align :left;
}

#king_content>ol>li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: left;
}
#king_content>p{
    text-align: left;
}
#footer{
    color: white;
    align-self: center;
}
.rank{
    width: 10%;
}
.player_pic{
    width: 30%;
}

/* #players{
    text-align: center;
    vertical-align: middle;
} */
.table td,th{
    border:solid 2px black;
    text-align: center;
}
table{
    border:solid 2px black;
}
.table td{
    font-weight: 300;
    
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
}
.content{
    margin: 25px;
    padding: 25px;
}
.table img{
    border-radius: 5px;
}
.table img:hover{
    transform: scale(1.05);
    transition: 300ms ease-in-out;
}
.row> .col-sm-5{
    padding:  20px;
}
.twitter, .Facebook, .Youtube , .linkedin{
    margin: 5px;
}
.col-sm-5{
    display: flex;
    align-items: center;
}